.SettingContainer {
    display: flex;
    border: solid 1px;
}
  
.SettingMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: solid 1px;
}
  

.Settings {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 20px;
    border: solid 1px;
}
